@using WebEngine;
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@(Global.Get("title"))</title>
<link rel="alternate" hreflang="ko" href="@(Global.Get("siteurl"))" />
<link rel="alternate" hreflang="ko-kr" href="@(Global.Get("siteurl"))" />
<link rel="alternate" hreflang="x-default" href="" />
@if (Global.IsExists("mobileurl"))
{
<link rel="alternate" href="@Global.IsExists("mobileurl")" media="only screen and (max-width: 640px" />
}
<link rel="canonical" href="@(Global.Get("siteurl"))" />
<meta name="robots" content="index,follow" />
<meta name="apple-mobile-web-app-title" content="@(Global.Get("title"))" />
<meta name="description" content="@(Global.Get("description"))" />
<meta name="keywords" content="@(Global.Get("keywords"))" />
<meta name="author" content="@(Global.Get("siteurl"))" />
<meta property="og:type" content="article">
<meta property="og:title" content="@(Global.Get("title"))">
<meta property="og:url" content="@(Global.Get("url"))">
@if (Global.IsExists("image"))
{
<meta property="og:image" content="@Global.IsExists("image")">
}
<meta property="og:description" content="@(Global.Get("description"))">
<meta name="twitter:title" content="@(Global.Get("title"))" />
<meta name="twitter:description" content="@(Global.Get("description"))" />
@if (Global.IsExists("image"))
{
<meta name="twitter:image" content="@Global.IsExists("image")" />
}
<meta name="twitter:card" content="summary" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
@RenderSection("headerLayer", false)
</head>
<body>
@RenderBody()
@RenderSection("footerLayer", false)
@RenderSection("scriptLayer", false)
</body>
</html>
